.booking-section {
    background-color: #f4f8ff;
}

.booking-form-container {
    background-color: #fff;
    padding: 0;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.booking-form-info {
    background-color: #4a90e2;
    color: #fff;
    padding: 40px;
}

.booking-form-info p {
    color: #f1f1f1;
}

.booking-form-container form {
    padding: 40px;
}